/* body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffffff;
} */

.container {
  background-color: #fff7f7;
  border-radius: 8px;
  
  padding: 20px;
  /* width: auto; */
  text-align: center;
  /* box-shadow: 10px 10px 20px black; */
}

.signup-form {
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0 0 20px;
  font-size: 24px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 60%;
}

button {
  background-color: #464646;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100px;
}

button:hover {
  background-color: #5dacfc;
}

/* Responsive styles for smaller screens */
@media (max-width: 400px) {
  .container {
      width: 100%;
      box-shadow: none;
  }
}

/* .data-box{
  overflow-y: scroll;
  height: 150px;
} */
